<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amrit Dhakal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="hero">
        <nav>
            <img src="images/logo.png" class="logo">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT ME</a></li>
            </ul>
        </nav>
        <div class="details">
            <h1>I am Amrit <span>Dhakal</span></h1>
            <p>Do I look professional ? Well, leave it. All I do is <br> Google, Copy and Paste  
                </p>
            <a href="#">Download CV</a>
        </div>
        <div class="images">
            <img src="images/shape.png" class="shape">
            <img src="images/amrit.png" class="amrit">
        </div>


        <!--div class='footer'>
            <div class="social">
                <a href="https://github.com/dhakal9"><img src="images/github.jpg" class="slogo"></a>
                <a href="https://www.instagram.com/dhakal_9/"><img src="images/ig.png" class="slogo"></a>
                <a href="https://www.linkedin.com/in/amrit-dhakal-a02b9a20a"><img src="images/linkedin.png" class="slogo"></a>
             </div>
             <a> All Rights Reserve Amrit.Inc © 2022 </a> 
        </div>    
    </div>
</body>
</html>